@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

/* primary button design */
.btn-primary {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border: none;
    text-decoration: none;
}

.ancr-des {
    color: aliceblue;
    text-decoration: none;
}

/* navbar design */
header>nav {
    display: flex;
    justify-content: space-between;
    margin: 58px 160px 0 160px;
}

header>nav>h3 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
}

header>nav>.nav-btn {
    color: rgb(0, 106, 80);
    background-color: aliceblue;
    border: 1px solid rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

}

header nav .nav-btn:hover {
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
}


/* banner design */

#banner {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1536px;
    height: 560px;
    margin: 96px 192px 0px 175px;
}

#banner>img {
    width: 474.03px;
    height: 329.21px;
    margin-right: 72px;
}

#banner>.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    margin-left: 73px;
    width: 610px;
}

#banner>.content>p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

#banner>.content>h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
}


/* Card design */
#card {
    width: 1536px;
    margin: 96px 192px 0px 175px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 32px;
}

#card>h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
}

#card>p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#card>.card-box {
    margin-left: 10px;
    display: flex;
    align-items: start;
    gap: 28.8px;
}



#card>.card-box>.box {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    width: 410.67px;
    height: 325px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

#card>.card-box>.box>p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

#card>.card-box>.box>img {
    margin-bottom: 35px;
}

#card>.card-box>.box>button {
    margin-top: 35px;
}

/* individual card design */

#card>.card-box>.box-1 {
    background: rgba(84, 144, 245, 0.2);
}

#card>.card-box>.box-2 {
    background: rgb(198, 228, 214);
}

#card>.card-box>.box-3 {
    background: rgb(247, 235, 207);
}

/* individual card-BUTTON design */
#card>.card-box>.box-1>button {
    background: rgb(84, 144, 245);
}

#card>.card-box>.box-2>button {
    background: rgb(9, 161, 92);
}

#card>.card-box>.box-3>button {
    background: rgb(255, 194, 57);
}


/* card-box-HOVER DESIGN */

#card>.card-box>.box:hover {
    background: rgba(0, 106, 80, 0.774);
}

#card>.card-box>.box:hover button {
    background: rgb(5, 66, 23);
    box-shadow: 3px 3px 10px white;
}



#card>.card-box>.box:hover img {
    filter: drop-shadow(3px 3px 5px white);
}


/* Quote Section */

#quote {

    margin: 40px 192px 40px 192px;
    width: 1536px;
    height: 256px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assests/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 30px 35px;
}

#quote .his-quote {
    margin-left: 30px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#quote>h2 {
    margin-left: 30px;
    margin-bottom: 8px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;

}

#quote .his-designation {
    margin-left: 30px;
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}


/* news section */

#All-news {
    margin: 40px 192px 40px 175px;
    width: 1536px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

#All-news h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

#All-news>p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

#All-news .news {
    width: 1536px;
    height: 402px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 32px;
}

#All-news .news>img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

#All-news .news>.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

#All-news .news>.content>h1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
}

#All-news .news>.content>img {
    width: 134px;
    height: 40px;
}

#All-news .news>.content>.time {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

#All-news .news>.content>.description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

#All-news .left-img-news img {
    margin-left: 48px;
}

#All-news .right-img-news img {
    margin-right: 48px;
}

#All-news .right-img-news .content {
    margin-left: 48px;
}

/* news part hover design trying */

#All-news .news:hover .news-img {
    box-shadow: 5px 5px 5px black;
}

/* Donation Section */
#donation {
    margin: 0px 192px 40px 175px;
    width: 1536px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#donation>h1 {
    margin-top: 80px;
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

#donation .description {
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}


#donation .all-amounts {
    margin-bottom: 32px;
    display: flex;
    gap: 24px;
}

#donation .all-amounts>.amount {
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
}

#donation>input {
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 1238px;
    height: 64px;
    margin-bottom: 32px;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

#donation .all-amounts .amount:hover {
    background: rgb(198, 228, 214);
}

/* subscribe section design */
#subscribe {
    margin: 80px 192px 40px 175px;
    width: 1536px;
    height: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

#subscribe h1 {
    margin-top: 80px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
}

#subscribe .email-sub {
    margin: 24px;
    display: flex;

}

#subscribe .email-sub input {
    border-style: none;
    border-top-left-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    width: 600px;
    height: 55px;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    padding-left: 35px;
}

#subscribe .email-sub button {
    border-radius: 0px;
    border-top-right-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
}

#subscribe .descreption {
    text-align: center;
    width: 600px;
    margin-top: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

#subscribe .ending {
    margin-top: 25px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}

/* footer section */
footer {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
}
footer .line-breaker {
    margin-top: 32px;
    margin-bottom: 32px;
    border: 1px solid rgba(121, 120, 120, 0.384);
    width: 1400px;
}

footer .icons {
    display: flex;
    gap: 23px;
    margin-bottom:50px ;
}
